STEAM_APP_ID=000000
STEAM_DEPOT_WINDOWS=000001
STEAM_DEPOT_MACOS=000002
STEAM_DEPOT_LINUX=000003
STEAM_BUILD_DESCRIPTION=drive release
# STEAM_SET_LIVE=default
# STEAM_PREVIEW=1
# STEAMCMD=/absolute/path/to/steamcmd
# STEAM_USER=steam_build_account
# STEAM_PASSWORD=use-a-secret-store-not-this-file
